.lazy-loading, .lazy-loaded{
	margin-bottom:15px;
	min-width:400px;
	min-height:400px;
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center top;
	border:1px solid #EFEFEF;
}
.lazy-loaded{
	border:1px solid #CCC;
}
.lazy-loaded{
	&.example1{
		background-image:url("https://placehold.co/400?text=Example+1");
	}
	&.example2{
		background-image:url("https://placehold.co/400?text=Example+2");
	}
	&.example3{
		background-image:url("https://placehold.co/400?text=Example+3");
	}
	&.example4{
		background-image:url("https://placehold.co/400?text=Example+4");
	}
	&.example5{
		background-image:url("https://placehold.co/400?text=Example+5");
	}
	&.example6{
		background-image:url("https://placehold.co/400?text=Example+6");
	}
	&.example7{
		background-image:url("https://placehold.co/400?text=Example+7");
	}
	&.example8{
		background-image:url("https://placehold.co/400?text=Example+8");
	}
}